<h1> Feeds#index </h1>

<%= link_to 'New Post', new_feed_path %>

<% @feed.each do |feed| %>
	<%= link_to feed do %>
		<p> <%= feed.title %> </p>
		<p> <%= feed.body %> </p>
		<br>
	<% end %>
<% end %>