<h1>artists#show</h1>

<%= @artist.email %>
<%= @artist.created_at %>

<br>

<%= link_to "Click to read #{@artist.email}'s feed", user_feeds_path(@artist) %>
<br>
<%= link_to "Click to watch #{@artist.email}'s videos", user_videos_path(@artist) %>