<h1> Videos#index </h1>

<%= link_to 'New Video', new_video_path %>

<% @video.each do |each| %>
	<p> <%= each.title %> </p>
	<p> <%= each.description %> </p>
	<p> <%= each.rank %> </p>
	<br>
<% end %>
