<h1> Home Page </h1>

<% if user_signed_in? %>
	<p>
		Hello, <%= current_user.email %>
	</p>
    <%= link_to 'Sign Out', destroy_user_session_path %>
<% else %>
    <%= link_to 'Log In', new_user_session_path %> Don't have an account yet? <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>